.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cipherLetter {
  width: 24px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.inputBox {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0;
  text-align: center;

}

.no-caret {
  caret-color: transparent;
}

.sentence {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;

  width: 75%;
  height: auto;
}
.letterBox {
  width: 26px;
}
.letterDivider {
  margin: 0;

}
input {
  all: unset;
}

.inputBox__input {
  color: transparent;
}

.unfocused {
  background: white;
}

.minor-focus {
  background: aquamarine;
}

.major-focus {
  background: aqua;
}