.App {
  padding: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cipherLetter {
  color: black;
  width: 24px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.repeatedLetter {
  color: red;
  width: 24px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.inputBox {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.no-caret {
  caret-color: transparent;
}

.author {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.game {
  display: block;
  gap: 10px;

  width: 100%;
  height: auto;
}

.sentence {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;

  width: 90%;
  height: auto;
}
.letterBox {
  width: 26px;
}
.letterDivider {
  margin: 0;

}

.aws-btn {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: .175s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-border: none;
}

input {
  all: unset;
}

.word {
  display: inline-flex;
  margin-right: 5px;
}
.inputBox__input {
  color: transparent;
}

.unfocused {
  background: white;
}

.minor-focus {
  background: aquamarine;
}

.major-focus {
  background: aqua;
}