.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cipherLetter {
  color: black;
  width: 24px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.repeatedLetter {
  color: red;
  width: 24px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.inputBox {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.no-caret {
  caret-color: transparent;
}

.author {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  left:5%;
  color: darkblue;
}

.timer {
  position: absolute;
  right: 5%;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0d4a7f;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.menuBar {
  background: #187bd1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menuBarItems {
  margin-right: 20px; /* Optional: adds space between the text and the buttons */
  font-size: 18px;
  font-weight: bold;
}

.navigationBox {
  display: flex;
  background: #1e88e5;
  border-radius: 5px;
}

.menuButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menuBarButton {
  border: 2px solid #0d4a7f;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.menuBarButton:hover {
  background-color: #0056b3;
}

.game {
  padding:5%;
  display: block;
  gap: 10px;

  width: 100%;
  height: auto;
}

.sentence {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;

  width: 90%;
  height: auto;
}
.letterBox {
  width: 26px;
}
.letterDivider {
  margin: 0;

}

.aws-btn {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: .175s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-border: none;
}

input {
  all: unset;
}

.word {
  display: inline-flex;
  margin-right: 5px;
}
.inputBox__input {
  color: transparent;
}

.unfocused {
  background: white;
}

.minor-focus {
  background: aquamarine;
}

.major-focus {
  background: aqua;
}

.modal-header {
  background-color: #187bd1;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  text-align: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  background-color: #f9f9f9;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.modal-footer {
  background-color: #187bd1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.awesome-button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-transform: uppercase;
}

.awesome-button:hover {
  background-color: #005f5f; /* Darken button color on hover */
  color: #ffffff;
}

hr {
  margin: 0; /* Remove margin around the hr */
  border: none;
  border-top: 2px solid #ddd; /* Style the horizontal line */
}